<header>
    <h1>PlatziOverflow</h1>
    <p>Welcome to the developers paradise</p>
</header>
<section>
    <app-home-slider></app-home-slider>
</section>
<section>
    <mat-horizontal-stepper>
        <mat-step label="Who are us?">
            <h3>who are us?</h3>
            <p>platziOverflow is a platafform designed for and to developers, with the purpose
                of grant tools to all the comunity behind the all that great and wonderful world
                called internet
            </p>
        </mat-step>
        <mat-step label="Our born">
            <h3>Our born</h3>
            <p>this comunity born at the year 2018 desaigned for Luis Felipe Evilla thanks to the wish
                and efforts of all the developers comunity behind us, that always are giving support to us 
            </p>    
        </mat-step>
        <mat-step label="contributions">
            <h3>Contributions</h3>
            <p>if you have a suggestion or wanna show us a new design, please send it to us to our github repository
                <a mat-fab color="link" href='https://github.com/luisFelipeEvilla/platziOverflow/tree/master/src/app/auth'>here</a>
            </p>
        </mat-step>
        
    </mat-horizontal-stepper>
</section>